<div class="home-wrapper">
    <h1>Thank you for your time and signature. Margaritas are worth it. Sign below!</h1>

    <form name="data" method="POST">
        <input type="hidden" name="_csrf" value="{{csrfToken}}"> First: <input type="text" name="first_name" value="{{fname}}" required> <br> Last: <input type="text" name="last_name" value="{{lname}}" required> <br>
        <h5> Sign in the box below </h5><br>
        <input id="hiddencanvas" type="hidden" name="signature">
        <canvas id="canvas" width="600" height="120"></canvas><br>
        <input id='submit' type="submit" value="Submit">
    </form>
</div>
