<header>

</header>
<h1 id="playtime">Work hard? Play hard?
</h1>

<h2>
We do too. The weekend doesn't own the crown for playtime. Let's introduce Margarita Monday's at SPICED!
</h2>
<h3 class="error">{{error}}</h3>
<div class="wrapper">
<img class="margarita" src="http://www.seriouseats.com/recipes/assets_c/2015/04/20150323-cocktails-vicky-wasik-margarita-thumb-1500xauto-421493.jpg" alt="">
<div class="reggie">
<form style="color:#f0e6e3; font-size: 20px" name="registration" method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
  <input class="reg-fields" type="text" name="first_name_reg" required><br>
  First Name<br>
  <input class="reg-fields" type="text" name="last_name_reg" required><br>
  Last Name<br>
  <input class="reg-fields" type="email" name="email_reg" required><br>
  Email<br>
  <input class="reg-fields" type="password" name="password_reg" required><br>
  Password<br>
  <input id='signup' type="submit" value="Sign Up">
</form>
</div>
</div>
<footer>
<h4>Already a cool member? <a href="/login">Click Here!</a></h4>
</footer>
