<div class="signed-wrapper">
<h1>Somebody has good penmanship! ;-)</h1>
<h4 id="silly">That's one good looking John Hancock</h4>

<img id="picture" src="{{hancock}}" alt="">

<h2><a href="/signers">{{others}} Other's are just like you. Check them out!!</a></h2>
<h2><a href="/edit">Edit your profile.</a></h2>
<h2><a href="/delete">Delete your Signature</a></h2>
<h2><a href="/logout">Log Out</a></h2>
</div>
