header {
    height: 80px;
    background-image: url("/public/limanity.jpg");
    background-size: cover;
    border-bottom: 2px solid green;
}

#playtime {
    text-align: center;
    font-family: Kurale;
    font-size: 69px;
}

#register-div {
    height: 100%;
}

h1 {
    text-align: center;
    font-family: Kurale;
}

h2 {
    text-align: center;
    font-family: Kurale;
}

h5 {
    margin: 0;
    padding: 0;
    color: blue;
}

#silly {
    text-align: center;
    font-family: Kurale;
}

.error {
    text-align: center;
    color: red;
}

.wrapper {
    background-image: url("/public/limanity.jpg");
    background-size: cover;
    border-top: 2px solid green;
    border-bottom: 2px solid green;
}

.profile-wrapper {
    background-image: url("/public/limanity.jpg");
    background-size: cover;
    border-top: 2px solid green;
    border-bottom: 2px solid green;
    height: 100vh;
    background-size: 100% auto;
}

.home-wrapper {
    background-image: url("/public/limanity.jpg");
    height: 100vh;
    background-size: 100% auto;
}

.signed-wrapper {
    background-image: url("/public/limanity.jpg");
    height: 100vh;
    background-size: 100% auto;
}

.signers-wrapper {
    background-image: url("/public/limanity.jpg");
}

.login-wrapper {
    background-image: url("/public/limanity.jpg");
    background-size: cover;
    border-top: 2px solid green;
    border-bottom: 2px solid green;
    height: 100vh;
    background-size: 100% auto;
}

.edit-wrapper {
    background-image: url("/public/limanity.jpg");
    background-size: cover;
    border-top: 2px solid green;
    border-bottom: 2px solid green;
    height: 100vh;
    background-size: 100% auto;
}

.margarita {
    max-height: 400px;
    margin-bottom: 20px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 50%;
    border: 5px solid green;
}

#login {
    width: 200px;
    height: 30px;
    border-radius: 10px;
    background-color: green;
    font-size: 20px;
    color: yellow;
    border: none;
}

#login:hover {
    cursor: pointer;
    background-color: yellow;
    color: green;
}

#create {
    width: 200px;
    height: 30px;
    border-radius: 10px;
    background-color: green;
    font-size: 20px;
    color: yellow;
    border: none;
}

#create:hover {
    cursor: pointer;
    background-color: yellow;
    color: green;
}

#submit {
    width: 200px;
    height: 30px;
    border-radius: 10px;
    background-color: green;
    font-size: 20px;
    color: yellow;
    border: none;
}

#submit:hover {
    cursor: pointer;
    background-color: yellow;
    color: green;
}

#signup {
    width: 200px;
    height: 30px;
    border-radius: 25px;
    background-color: green;
    color: yellow;
    font-size: 20px;
    margin-bottom: 20px;
    border: none;
}

#signup:hover {
    cursor: pointer;
    background-color: yellow;
    color: green;
}

#update {
    width: 200px;
    height: 30px;
    border-radius: 25px;
    background-color: green;
    color: yellow;
    font-size: 20px;
    margin-bottom: 20px;
    border: none;
}

#update:hover {
    cursor: pointer;
    background-color: yellow;
    color: green;
}

#picture {
    display: block;
    margin: 0 auto;
}

canvas {
    background-color: yellow;
    border: 2px solid green;
}

form {
    text-align: center;
}

input::placeholder {
    text-align: center;
}

#canvasDiv {
    text-align: center;
}

a {
    color: blue;
}

ul {
    display: block;
    text-align: center;
}

ul li {
    display: inline-block;
}

footer {
    height: 50px;
    border-bottom: 2px solid green;
}
